body{
    margin: 0;
    padding: 0;
    min-width: 1366px;
    font-family: "Microsoft YaHei" ;
    overflow-x: hidden;
}
.container{
    width:100%;
    height:30px;
    background-color: #464c5b;
    margin: 0 ; 
}
.rightCt{
    width: 250x;
    height: 25px;
    font-size: 12px;
    color: white;
    text-align: center;
    padding:5px 20px 0px 0px;
    margin-right: 20px;
    word-spacing: 5px;
    vertical-align: text-bottom;
    float: right;
}

a{
    text-decoration: none;
    outline: none;
    color: white;
}
a:hover{
    text-decoration: none;
}
.logoContainer{
    height: 45px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(223, 214, 214);
}
.pic{
    height: 30px;
    width:120px;
    padding-left: 20px;
    margin-top: 15px;
}
img{
    height:30px;
    width: 120px;
}

.managerText{
    width:130px;
    height: 50px;
    font-size: 23px;
    color: rgb(77, 74, 74);
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.buttonCont{
    height: 45px;
    width: 1366px;
    margin: 0 auto;
   
}

.rButton{
    height: 45px;
    width: 800px;
    float: left;
    padding-left: 20px;
   
}

/*众多的按钮们*/
.button1{
    background-color: #00cc66; 
    border: 1px solid  #00cc66;
    color: white;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}
.button2{
    background-color: #00cc66; 
    border: 1px solid  #00cc66;
    color: white;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.button3{
    background-color:#F7F7F7; 
    border: 1px solid gray;
    color:gray;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.6;
    cursor: not-allowed;
}
.button4{
    background-color:#57C5F7;
    border: 1px solid  #57C5F7;
    color: white;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}
.button5{
    background-color:#F7F7F7; 
    border: 1px solid gray;
    color:gray;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.6;
    cursor: not-allowed;
} 
.button6{
    background-color:white; 
    border: 1px solid #778181;
    color:gray;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; 
}
#pictureFile{
    height: 1px;
    width: 0px;
    position: relative;
    right:70px;
}
.button7{
    background-color:white; 
    border: 1px solid #778181;
    color:gray;
    padding:8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; 
}
.button1:hover {
    background-color: #3e8e41;
}
.button2:hover {
    background-color: #3e8e41;
}
.button4:hover {
    background-color: rgb(16, 164, 233);
}
.button6:hover {
    background-color: #d5dbdb;
}
.button7:hover {
    background-color: #d5dbdb;
}



/*表格里面的内容*/
.thead{
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #F5F7F9;
}
.even
{
    background-color:white;
}
/*奇数行样式*/
.odd{
    background-color:#F5F7F9;
}
/*偶数行样式*/
.selected{
    background-color:#ebf7ff;
}
.edit-button {
    border: none;
    height: 26px;
    padding:2px 7px;
    background-color: #2db7f5;
    border-radius: 2px;
    color: #FFF;
    position: relative;
    left: 25px;
}
.edit-button:hover {
    background-color: #57c5f7;
}
.delete-button {
    border: none;
    height: 26px;
    padding:2px 7px;
    background-color: red;
    border-radius: 2px;
    color: #FFF;
    position: relative;
    left: 25px;
}
.delete-button:hover {
    background-color:rgba(255, 0, 0, 0.76);
}


/* 原表格样式，修改后无用*/
.tSearch{
    height: 45px;
    width: 400px;  
    float: right;
    padding-right: 20px;
    }

.btnDropdown {
    background-color: #eeeeee;
    border: 1px solid #778181;
    color: #778181;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    left: 970px;
   
}


.tSearch-form{
    display:block;
    width:300px;
    height: 32px;
   
}

.formText {
    display: block;
    width: 250px;
    height: 32px;
    border: 1px solid gray;
    position: absolute;
    top: 162px;
    left: 1035px;
    text-indent: 10px;
}
.formPic {
    display: block;
    width: 40px;
    height: 30px;
    background-color: #eeeeee;
    border: 1px solid #778181;
    color: #778181;
    position: absolute;
    top: 162px;
    left: 1284px;
    border-radius: 2px;
    border-top-right-radius: 4px;
}

.icon-sousuo{
    font-size: 51px;
    position: absolute;
    top: 140px;
    left: 1293px;
    border-top-right-radius: 4px;
}


ul.dropdown-menu {
    position: absolute;
    left: 789px;
    top: 193px;
    width: 67px;
    z-index: 999;
    display: none; 
}

ul.dropdown-menu li {
    height:25px;
    border: 1px solid #778181;
    background-color: white;
    position: relative;
    left: 180px;

}

a {
    text-decoration: none;
    outline: none;
    color: #778181;
}

table {
    width: 1306px;
    border-collapse: collapse;
    border-spacing: 0;
}
.tableStyle{
    width:1306px;
    margin: 0 auto;
    font-size: 14px;
    text-indent: 13px;
    position: relative;
    right: 10px;
}

th{
    height: 40px;
    border: 1px solid #D7DDE4;
    color: #778181;
}
td{
    height: 40px;
    border: 1px solid #D7DDE4;
    color: #657180;
}


.tableHead{
    widows: 1306px;
    height:35px;
    background-color: #F5F7F9;
    font-size: 15px;
    
}

.tableBody{
    width:1306px;
    height:1000px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #F5F7F9;
}



.tableHead table,.tableBody table{
    width: 100%;
}
.tableBody tr:nth-child(2n+1){
    background-color: #ffffff;
}

.write{
    background-color: #4CAF50; /* Green */
    border: 1px solid  #4CAF50;
    color: white;
    padding:2px 4px;
}

.delete{
    background-color: red;
    border: 1px solid  red;
    color: white;
    padding:2px 4px;
    position: relative;
    left: 12px;
}

#one,#tow{
    color: #778181;
}


/*弹窗*/
#main{ 
    padding-top:0px; 
} 
#maintow{    
    padding-top:0px; 
} 
#fullbg { 
    background-color:gray; 
    left:0; 
    opacity:0.5; 
    position:absolute; 
    top:0; 
    z-index:3; 
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity:0.5; 
} 

#dialog,#dialogDescribe{ 
    background-color:#fff; 
    height:485px; 
    left:45%; 
    margin:-200px 0 0 -200px; 
    padding:1px; 
    position:fixed !important; /* 浮动对话框 */ 
    position:absolute; 
    top:50%; 
    width:500px; 
    z-index:5; 
    border-radius:8px; 
    display:none; 
} 

#dialogSecond{ 
    background-color:#fff; 
    height:570px; 
    left:45%; 
    margin:-200px 0 0 -200px; 
    padding:1px; 
    position:fixed !important; /* 浮动对话框 */ 
    position:absolute; 
    top:37%; 
    width:500px; 
    z-index:5; 
    border-radius:8px; 
    display:none;
} 

#dialogname{ 
    background-color:#fff; 
    height:170px; 
    left:45%; 
    margin:-200px 0 0 -200px; 
    padding:1px; 
    position:fixed !important; /* 浮动对话框 */ 
    position:absolute; 
    top:37%; 
    width:500px; 
    z-index:5; 
    border-radius:8px; 
    display:none;   
} 


#pbox {
    height: 45px;
    border-bottom: 1px solid #e3e8ee;
}

#pbox p{
    height: 20px;
}
#pbox p.add{
    font-size:14px;
    float: left;  
    text-indent: 20px;
    color: #636875;
    position: relative;
    top: 15px;
}

#dialog p.close,#dialogmtp p.close { 
    text-align:right; 
    padding-right:10px; 
    float: right;
    color: black;
} 
#dialog p.close a,#dialogmtp p.close { 
    color:black; 
    text-decoration:none; 
} 
 
form{
    padding: 0px 20px;
    color:#636875;
} 


.littleContainer{
    width:460px;
    height:70px;
    margin-top:20px;
}

.star{
    color:red;
    float: left;
}

form span{
    color: #f00;
    font-size: 12px;
    border: none;
    position: relative;
    left:7px;
    display: none;
    }

input.divBottom {
    border-radius: 4px;
    border: 1px solid #c9cdc2;
    height: 30px;
    width: 440px;
    text-indent: 10px;
    font-size: 14px;
    color:#c9cdc2;
    margin: 10px;
}
input.divBottomname{
    border-radius: 4px;
    border: 1px solid #c9cdc2;
    height: 30px;
    width: 440px;
    text-indent: 10px;
    font-size: 14px;
    color:#c9cdc2;
    margin:  0;
    position: relative;
    top:10px;
}
 
input.divBottom:hover{
    border: 1px solid #5cadff;
}

.line{
    width: 500px;   
    border-bottom: 1px solid #e3e8ee;
    margin:0px;
}

.buttonType{
    margin-top:10px;
    padding-right: 20px;
}
.sureButton,.sureButtonadd,.sureButtonD{
    width: 70px;
    height: 35px;
    font-size: 15px;
    color: white;
    border:#5cadff;
    border-radius: 4px;
    background-color:#1296DB;
    float: right;  
}
.sureButtonadd:focus{
    background-color: rgb(11, 111, 165);
}
.sureButton:focus{
    background-color: rgb(11, 111, 165);
}

.closeButton{
    width: 70px;
    height: 35px;
    font-size: 15px;
    color: #636875;
    border:white;
    border-radius: 4px;
    background-color:white;
    float: right;
    
}

/*分页*/
.pageForm{
    width: 1306px;
    height: 100px;
    margin: 0px  0px 0px 20px ;
  
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 30px  0px 0px 0px;
    position: absolute;
    top: 780px;
    left: 500px;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    font-size: 16px;
    color: rgb(100, 97, 97);
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid#eeeeee;
	border-radius:3px;
}
ul.pagination li a:hover{
	background-color: rgb(184, 181, 181);
}

/*加载*/
#loading  
{  
    position:fixed;  
    top:40%;  
    left:630px;   
}  
